.arrows_double, .icon_email, .icon_phone, .eecms_ftr, .hdr_bg{
	background: url(sprites.png) no-repeat;
}

.arrows_double{
	background-position: -50px 0;
	width: 52px;
	height: 48px;
}

.icon_email{
	background-position: -20px 0;
	width: 21px;
	height: 36px;
}

.icon_phone{
	background-position: 0 0;
	width: 17px;
	height: 26px;
}

.eecms_ftr{
	background-position: -100px 0;
	width: 126px;
	height: 20px;
}

.hdr_bg{
	background-position: 0 -50px ;
	width: 297px;
	height: 297px;
}

