$small-screen: emCalc(768) !default;
$medium-screen: emCalc(1280) !default;
$large-screen: emCalc(1440) !default;

$screen: "only screen" !default;
$small: "only screen and (min-width:"#{$small-screen}")" !default;
$medium: "only screen and (min-width:"#{$medium-screen}")" !default;
$large: "only screen and (min-width:"#{$large-screen}")" !default;
$landscape: "only screen and (orientation: landscape)" !default;
$portrait: "only screen and (orientation: portrait)" !default;

@mixin breakpoint($point) {
	@if $point == 1250 {
		@media only screen and (max-width: emCalc(1250)) { @content; }
	}
	@else if $point == 980 {
		@media only screen and (max-width: emCalc(980))  { @content; }
	}
	@else if $point == 800 {
		@media only screen and (max-width: emCalc(800))  { @content; }
	}
	@else if $point == 600 {
		@media only screen and (max-width: emCalc(600))  { @content; }
	}
	@else if $point == 320 {
		@media only screen and (max-width: emCalc(320))  { @content; }
	}
}