@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_mixins\.scss}line{font-family:\0000383}}
.button {
  behavior: url("/assets/js/PIE.htc"); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_global\.scss}line{font-family:\000031}}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_global\.scss}line{font-family:\000035}}
html {
  height: 100%;
  overflow-y: scroll;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_global\.scss}line{font-family:\0000313}}
body {
  background: #4e7faa;
  color: #333333;
  font: normal normal 100%/1.5 "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_global\.scss}line{font-family:\0000322}}
::selection, ::-webkit-selection {
  background: #5bc5d4;
  color: #FFF; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_global\.scss}line{font-family:\0000326}}
::-moz-selection {
  background: #5bc5d4;
  color: #FFF; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_global\.scss}line{font-family:\0000335}}
.hide {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_global\.scss}line{font-family:\0000347}}
body:hover .hide a,
body:hover .hide input,
body:hover .hide button {
  display: none !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_global\.scss}line{font-family:\0000363}}
[role=navigation], .nb {
  list-style: none;
  margin: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_global\.scss}line{font-family:\0000370}}
[role=navigation] li {
  display: inline-block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_elements\.scss}line{font-family:\000032}}
main, article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_type\.scss}line{font-family:\000031}}
a {
  color: #5bc5d4;
  font-weight: bold;
  text-decoration: none;
  vertical-align: baseline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_type\.scss}line{font-family:\000037}}
a:link {
  -webkit-tap-highlight-color: #247e8b; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_type\.scss}line{font-family:\000038}}
a:hover, a:focus, a:active {
  color: #247e8b;
  text-decoration: underline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_type\.scss}line{font-family:\000039}}
a:focus {
  outline: thin dotted; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_type\.scss}line{font-family:\0000310}}
a:active {
  outline: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_type\.scss}line{font-family:\0000311}}
a, button {
  -webkit-transition: color;
  -moz-transition: color;
  -o-transition: color;
  transition: color; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_type\.scss}line{font-family:\0000315}}
h1, h2, h3 {
  color: #222222;
  font-family: minion-pro, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizelegibility; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_type\.scss}line{font-family:\0000328}}
h1, .h1 {
  font-size: 32px;
  font-size: 3.2rem;
  margin-bottom: 0.75px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_type\.scss}line{font-family:\0000333}}
h2, .h2 {
  font-size: 22px;
  font-size: 2.2rem;
  margin-bottom: 0.75em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_type\.scss}line{font-family:\0000338}}
h3, .h3 {
  font-size: 20px;
  font-size: 2rem;
  margin-bottom: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_type\.scss}line{font-family:\0000343}}
p, ol, ul, dl {
  font-size: 16px;
  font-size: 1.6rem;
  margin: 0 0 1.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_type\.scss}line{font-family:\0000352}}
ul, ol {
  margin-left: 1em;
  padding-left: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_type\.scss}line{font-family:\0000363}}
blockquote {
  font-style: normal;
  margin: 0 0 1.5 0;
  padding: 0.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_type\.scss}line{font-family:\0000369}}
cite {
  display: block;
  font-style: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_type\.scss}line{font-family:\0000374}}
q {
  quotes: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_type\.scss}line{font-family:\0000379}}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_type\.scss}line{font-family:\0000384}}
dl, dd {
  margin-bottom: 1.5; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_type\.scss}line{font-family:\0000388}}
dt {
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_images\.scss}line{font-family:\000031}}
img {
  border: 0;
  display: inline-block;
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_images\.scss}line{font-family:\000037}}
.img-r {
  float: right;
  margin: .5em 0 1em 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_images\.scss}line{font-family:\0000312}}
.img-l {
  float: left;
  margin: .5em 15px 1em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_buttons\.scss}line{font-family:\00003182}}
.button:active, button:active {
  bottom: -1px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_buttons\.scss}line{font-family:\00003185}}
.button {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 1.25em;
  position: relative;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  -moz-user-drag: -moz-none;
  -webkit-user-drag: none;
  user-drag: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
  vertical-align: middle;
  display: inline-block;
  padding-top: 0.75em;
  padding-right: 1.5em;
  padding-bottom: 0.8125em;
  padding-left: 1.5em;
  font-size: 1em;
  background-color: #5bc5d4;
  border-color: #34b5c8;
  border-bottom-color: fadein(#34b5c8, 15%);
  color: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5bc5d4), color-stop(25%, #5bc5d4), color-stop(100%, #34b5c8));
  background: -webkit-linear-gradient(#5bc5d4, #5bc5d4 25%, #34b5c8);
  background: -moz-linear-gradient(#5bc5d4, #5bc5d4 25%, #34b5c8);
  background: -o-linear-gradient(#5bc5d4, #5bc5d4 25%, #34b5c8);
  background: linear-gradient(#5bc5d4, #5bc5d4 25%, #34b5c8);
  -pie-background: linear-gradient(left, #5bc5d4 0%, #34b5c8 100%);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_buttons\.scss}line{font-family:\00003123}}
  .button:hover, .button:focus {
    background-color: #34b5c8; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_buttons\.scss}line{font-family:\00003134}}
  .button:hover, .button:focus {
    color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_buttons\.scss}line{font-family:\00003155}}
  .button:hover, .button:focus, .button:active {
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5bc5d4), color-stop(25%, #47becf), color-stop(100%, #2a919f));
    background: -webkit-linear-gradient(#5bc5d4, #47becf 25%, #2a919f);
    background: -moz-linear-gradient(#5bc5d4, #47becf 25%, #2a919f);
    background: -o-linear-gradient(#5bc5d4, #47becf 25%, #2a919f);
    background: linear-gradient(#5bc5d4, #47becf 25%, #2a919f);
    -pie-background: linear-gradient(left, #5bc5d4 5%, #2a919f 100%); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_buttons\.scss}line{font-family:\00003210}}
input.button, button {
  padding-top: 0.8125em;
  padding-bottom: 0.75em; }

@media only screen {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_buttons\.scss}line{font-family:\00003220}}
  .button {
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_forms\.scss}line{font-family:\000031}}
form {
  margin: 2em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_forms\.scss}line{font-family:\0000332}}
label, button {
  cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_forms\.scss}line{font-family:\0000334}}
label {
  display: block;
  font-weight: bold;
  float: left;
  margin-bottom: .2em;
  width: 7em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_forms\.scss}line{font-family:\0000342}}
button, input, select, textarea {
  font-size: 1em;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_forms\.scss}line{font-family:\0000349}}
button, input {
  line-height: normal;
  *overflow: visible; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_forms\.scss}line{font-family:\0000354}}
select, input, textarea, button {
  font-family: sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_forms\.scss}line{font-family:\0000356}}
input, textarea {
  font-size: 14px;
  padding: 2px 4px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_forms\.scss}line{font-family:\0000361}}
input, textarea, select {
  border: 1px solid #bfbfbf;
  margin-bottom: .5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_forms\.scss}line{font-family:\0000366}}
[type=text], [type=email], textarea {
  width: 300px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_forms\.scss}line{font-family:\0000370}}
textarea {
  overflow: auto;
  vertical-align: top; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_forms\.scss}line{font-family:\0000389}}
input:hover, input:hover, textarea:hover,
input:focus, input:focus, textarea:focus {
  background-color: #eaf1ff; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_forms\.scss}line{font-family:\00003101}}
button, [type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_forms\.scss}line{font-family:\00003107}}
button {
  position: relative;
  left: 6.5em;
  -webkit-appearance: button; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_forms\.scss}line{font-family:\00003112}}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_forms\.scss}line{font-family:\00003117}}
label.error {
  color: #C00;
  display: block;
  float: none;
  margin-left: 7em;
  width: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_forms\.scss}line{font-family:\00003124}}
input.error, input.error, textarea.error {
  border-color: #9d261d; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_layout\.scss}line{font-family:\000031}}
#wrap {
  margin: 0 auto;
  padding: 0;
  width: 960px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_layout\.scss}line{font-family:\000037}}
#content {
  clear: both;
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_layout\.scss}line{font-family:\0000324}}
[role=banner] {
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_layout\.scss}line{font-family:\0000329}}
  [role=banner] a {
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_layout\.scss}line{font-family:\0000330}}
  [role=banner] a:hover, [role=banner] a:focus, [role=banner] a:active, [role=banner] .active {
    color: #247e8b; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_layout\.scss}line{font-family:\0000332}}
.skip {
  margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_layout\.scss}line{font-family:\0000334}}
  .skip a {
    background-color: #2675b9;
    color: #FFF;
    font-size: .7692em;
    left: -9999em;
    top: 0;
    line-height: 1;
    position: absolute;
    padding: .3em 0;
    text-align: center;
    text-decoration: none;
    width: 100%;
    z-index: 3; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_layout\.scss}line{font-family:\0000346}}
    .skip a:focus, .skip a:active {
      left: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_layout\.scss}line{font-family:\0000350}}
.logo {
  float: left;
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_layout\.scss}line{font-family:\0000359}}
.map {
  border: 1px solid #bfbfbf;
  display: inline;
  float: right;
  height: 300px;
  margin: 0 0 1em 15px;
  width: 300px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_layout\.scss}line{font-family:\0000367}}
.vcard {
  margin-bottom: 2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_layout\.scss}line{font-family:\0000369}}
  .vcard h3 {
    margin: 0.5em 0 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_layout\.scss}line{font-family:\0000370}}
  .vcard p {
    margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_layout\.scss}line{font-family:\0000371}}
  .vcard em {
    font-style: normal;
    font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_layout\.scss}line{font-family:\0000386}}
[role=contentinfo] {
  clear: both;
  margin-top: 2em;
  padding-top: 1em;
  position: relative;
  text-align: center;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_print\.scss}line{font-family:\000033}}
.print-only {
  display: none !important; }

@media print {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_print\.scss}line{font-family:\000036}}
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_print\.scss}line{font-family:\0000313}}
  body {
    color: black;
    font: 10pt Verdana, sans-serif;
    width: 600px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_print\.scss}line{font-family:\0000336}}
  thead {
    display: table-header-group; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_print\.scss}line{font-family:\0000338}}
  article, tr, ul, img {
    page-break-inside: avoid; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_print\.scss}line{font-family:\0000340}}
  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_print\.scss}line{font-family:\0000344}}
  #wrap {
    width: 100% !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_print\.scss}line{font-family:\0000347}}
  h1, h2, h3 {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    margin: 15px 0 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_print\.scss}line{font-family:\0000352}}
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_print\.scss}line{font-family:\0000357}}
  h2, h3 {
    page-break-after: avoid; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_print\.scss}line{font-family:\0000362}}
  .nav, .skip, .aux-nav,
  .hide, form,
  [role=complementary],
  [role=contentinfo] a {
    display: none; } }
@media print and (color) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tyssen\/Documents\/Tyssen\%20Design\/Boilerplate\/assets\/sass\/components\/_print\.scss}line{font-family:\0000377}}
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact; } }
