// Set box-sizing globally to handle padding and border widths
*,
*:before,
*:after {
	@include box-sizing(border-box);
}

html {
	height: 100%;
	overflow-y: scroll;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

// Default body styles
body {
	background: $body-bg;
	color: $body-font-color;
	padding: 0;
	margin: 0;
	font: $body-font-weight $body-font-style 100%/1.5 $body-font-family;
	position: relative;
	-webkit-font-smoothing: $font-smoothing;
}

// Grid Defaults to get images and embeds to work properly
// img,
// object,
// embed { max-width: 100%; height: auto; }

// object,
// embed { height: 100%; }
// img { -ms-interpolation-mode: bicubic; }

// #map_canvas,
// .map_canvas {
//   img,
//   embed,
//   object { max-width: none !important;
//   }
// }

// Miscellaneous useful HTML classes
.left         { float: left; }
.right        { float: right; }
.text-left    { text-align: left; }
.text-right   { text-align: right; }
.text-center  { text-align: center; }
.text-justify { text-align: justify; }

::selection,::-webkit-selection {
	background:$primary-color;
	color:#FFF;
}
::-moz-selection {
	background:$primary-color;
	color:#FFF;
}

[hidden] {
	display: none;
}

.hide {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}
body:hover .hide a,
body:hover .hide input,
body:hover .hide button {
	display: none !important;
}

.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.ir {
		font: 0/0 a;
		text-shadow: none;
		color: transparent;
}

[role=navigation] {
	list-style: none;
	margin: 0;
	padding: 0;
}

// Get rid of gap under images by making them display: inline-block; by default
img { display: inline-block; }

.img-r {
	float: right;
	margin: .5em 0 1em 15px;
}

.img-l {
	float: left;
	margin: .5em 15px 1em 0;
}

img.centre {
	display:block;
	margin: 1em auto;
}

//
// Global resets for forms
//

// Make sure textarea takes on height automatically
// textarea { height: auto; min-height: 50px; }

// // Make select elements 100% width by default
// select { width: 100%; }