@if $include-print-styles {

	.print-only { display: none !important; }

	@media print {
		* {
			background: transparent !important;
			color: #000 !important; /* Black prints faster: h5bp.com/s */
			box-shadow: none !important;
			text-shadow: none !important;
		}

		body {
			color: black;
			font: 10pt Verdana, sans-serif;
			width: 600px
		}

		// a,
		// a:visited { text-decoration: underline;}
		// a[href]:after { content: " (" attr(href) ")"; }

		// abbr[title]:after { content: " (" attr(title) ")"; }

		// // Don't show links for images, or javascript/internal links
		// .ir a:after,
		// a[href^="javascript:"]:after,
		// a[href^="#"]:after { content: ""; }

		// pre,
		// blockquote {
		// 	border: 1px solid #999;
		// 	page-break-inside: avoid;
		// }

		thead { display: table-header-group; /* h5bp.com/t */ }

		article, tr, ul, img { page-break-inside: avoid; }

		img { max-width: 100% !important; }

		@page { margin: 0.5cm; }

		#wrap { width: 100% !important }


		h1, h2, h3 {
			font-family: "Trebuchet MS", Verdana, sans-serif;
			margin: 15px 0 5px
		}

		p, h2, h3 {
			orphans: 3;
			widows: 3;
		}

		h2, h3 { page-break-after: avoid; }

		.nav, .skip, .aux-nav,
		.hide, form,
		[role=complementary],
		[role=contentinfo] a { display: none }

		.hide-on-print { display: none !important; }
		.print-only { display: block !important; }
		.hide-for-print { display: none !important; }
		.show-for-print { display: inherit !important; }

		// header img {
		// 	filter: url(inverse.svg#negative);
		// 	-webkit-filter: invert(100%);
		// 	filter: invert(100%);
		// }
	}

	@media print and (color) {
	   * {
	      -webkit-print-color-adjust: exact;
	      print-color-adjust: exact;
	   }
	}
}