//------ header ------//

[role=banner] {
	position: relative;
	ul {
		li { }
			a { text-decoration: none }
			a:hover, a:focus, a:active, .active { color: $anchor-font-color-hover }
	}
}
	.skip {
		margin: 0;
		a {
			background-color: $secondary-color;
			color: #FFF;
			font-size:.7692em;
			left: -9999em; top: 0;
			line-height: 1;
			position: absolute;
			padding: .3em 0;
			text-align: center;
			text-decoration:none;
			width: 100%;
			z-index:3;
			&:focus, &:active { left: 0 }
		}
	}

	.logo {
		float: left;
		margin: 0;
	}

//------ content ------//

// Contact //

.map {
	border: 1px solid $grayLight;
	display: inline;
	float: right;
	height: 300px;
	margin: 0 0 1em 15px;
	width: 300px;
}
.vcard {
	margin-bottom: 2em;
	h3 { margin: .5em 0 0 }
	p { margin: 0 }
		em {
			font-style: normal;
			font-weight: bold
		}
}

//------ sidebar ------//

[role=complementary] {

}


//------ footer ------//

[role=contentinfo] {
	clear: both;
	margin-top: 2em;
	padding-top: 1em;
	position: relative;
	text-align: center;
	width: 100%
}