[role=banner] {
  position: relative;
  ul {
  }
    li { }
      a { text-decoration: none }
      a:hover, a:focus, a:active, .active { color: $link-color-hover }
}
  .skip {
    margin: 0;
    a {
      background-color: $color2;
      color: #FFF;
      font-size:.7692em;
      left: -9999em; top: 0;
      line-height: 1;
      position: absolute;
      padding: .3em 0;
      text-align: center;
      text-decoration:none;
      width: 100%;
      z-index:3;
      &:focus, &:active { left: 0 }
    }
  }

  .logo {
    float: left;
    margin: 0;
  }